
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/background-header.jpg);
    background-position: center;
    background-size: 100%;
    padding: 1%;
}

header h1 {
    display: flex;
    color: white;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover {
    color: skyblue;
}


/* Main Styles */
main {
    background-color: whitesmoke;
}

/* left side of main */
.left-box {
    display: flex;
    justify-content: flex-start;
    padding: 4%;
    margin-left: 20%;
    /* background-color: blue; */
}

.left-box h2 {
    border-right: 4px solid rgb(252, 207, 123);
    padding-right: 10px;
    text-align: right;
}

/* right side of the main */
.about-me-box {
    display: flex;
    justify-content: space-between;
    /* background-color: orange; */
    width: 100%;
    height: 16vh;
    
}

.about-me-box p {
    font-size: 125%;
    text-align: center;
    margin-left: 1vh;
}

.about-me-box img {
    margin-left: 1vh;
}

.my-work-box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    width: 90vh;
}

.contact-info-box{
    width: 100%;
    
}

.contact-info-box ul {
    display: flex;
    justify-content: space-evenly;
}

.contact-info-box ul li {
    list-style: none;
}

.contact-info-box ul li a {
    color: black;
    font-size: 150%;
}


.contact-info-box span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: -150%;
    bottom: 5vh;
    min-width: 200px;
    border: 2px gray solid;
    background-color: aliceblue;
    padding: 1vh;
    z-index: 1;
}

span[data-descr] {
    position: relative;
    width: fit-content;
    height: fit-content;
    border: 10px black;
}

#phone {
    font-size: 150%;
    text-decoration: underline;
}

/* right under the header */
.under-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-image: url(../img/under-header.jpg);
    background-position: center;
    opacity: 60%;
    background-size: 100%;
}

.under-header h2 {
    font-size: 170%;
    margin-right: 2%;
}

main section h2 {
    font-size: 200%;
}

/* Ids */
#about-me {
    text-shadow: 0px 0px 5px rgb(70, 70, 142);
}

#my-work {
    text-shadow: 0px 0px 5px rgb(232, 123, 123);
}

#contact-info {
    text-shadow: 0px 0px 5px rgb(186, 186, 90);

}

/* footer styles */
footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}