
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    font-family: 'Roboto', sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/background-header.jpg);
    background-position: center;
    background-size: 100%;
    padding: 1%;
}

header h1 {
    display: flex;
    color: white;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover {
    color: skyblue;
}


/* Main Styles */
/* left side of main */

.left-box {
    display: flex;
    justify-content: flex-start;
    
    margin: 4px 4px 4px 4px;
    /* background-color: blue; */
    padding: 4px 4px 4px 4px;
}

.left-box h2 {
    border-right: 4px solid rgb(252, 207, 123);
    padding-right: 5px;
    text-align: right;
}

/* right side of the main */
.right-box {
    display: inline-flex;
    justify-content: flex-end;
    background-color: orange;

    flex-direction: row;
    width: 100vh;
    height: 16vh;
    
}

/* right under the header */
.under-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-image: url(../img/under-header.jpg);
    background-position: center;
    opacity: 60%;
    background-size: 100%;
}

.under-header h2 {
    font-size: 170%;
    margin-right: 2%;
}

main section h2 {
    font-size: 200%;
}

#about-me {
    text-shadow: 0px 0px 5px rgb(70, 70, 142);
}

#my-work {
    text-shadow: 0px 0px 5px rgb(232, 123, 123);
}

#contact-info {
    text-shadow: 0px 0px 5px rgb(186, 186, 90);
}

/* footer styles */
footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}