*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/background-header.jpg);
    background-position: center;
    background-size: 100%;
    padding: 1%;
}

header h1 {
    display: flex;
    color: white;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 10px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover {
    color: white;
}